@model HobbyTracker.Models.Community

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.CommunityName) Community</h2>

<p>
    Description <br />
    @Html.DisplayFor(model => model.DescriptionField)

</p>


<div>
 
    <hr />
    <h4>Comments:</h4>
    <dl class="dl-horizontal">
        <dd>
            @using (Html.BeginForm())
            {
                <p>
                    Find commenters by user name: @Html.TextBox("Search")
                    <input type="submit" value="Search" />
                </p>
            }
            <table class="table">
                <tr>
                    <th>Comment:</th>
                    <th>User:</th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.comments)
                {
                    <tr>

                        <td>
                            @item.TextInput
                        </td>
                        <td>
                            @item.CommentUser
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    @Html.ActionLink("Add new comment", "Create", "Comment")
    <h4>Activities:</h4>
    <dl class="dl-horizontal">
        <dd>
            <table class="table">
                <tr>
                    <th></th>
                </tr>
                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td>
                            @item.ActName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Phone
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
