@model HobbyTracker.ViewModels.CommunityIndexData

@{
    ViewBag.Title = "Communities";
}

<h2>Communities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model.Communities)
{
    string selectedRow = "";
    if (item.CommunityID == ViewBag.CommunityID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">

        <td>
            <!-- Commented all this stuff out
            @Html.ActionLink("Select", "Index", new { id = item.CommunityID })
            @Html.ActionLink("Edit", "Edit", new { id = item.CommunityID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CommunityID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CommunityID })
            end commented out stuff -->


            @Html.ActionLink(item.CommunityName, "Index", new { id = item.CommunityID })
        </td>
    </tr>
}

</table>


@if (Model.Comments != null)
{
    <h3>Comments from this community</h3>
    <table class="table">
       

        @foreach (var item in Model.Comments)
        {
            string selectedRow = "";
            if (item.CommentID == ViewBag.CommentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                
                <td>
                    @item.TextInput
                </td>
                
            </tr>
        }

    </table>
}