@model HobbyTracker.ViewModels.CommunityIndexData

@{
    ViewBag.Title = "Communities";
}

<h2>Communities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Communities</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Communities)
    {
        string selectedRow = "";
        if (item.CommunityID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                
                <!--@Html.DisplayFor(modelItem => item.CommunityName) Commented out -->

                <!--make the community name that is displayed a link so that when clicked, the comments show up instead
                    of clicking a "select" link. Looks better this way.-->
                @Html.ActionLink(item.CommunityName, "Index", new { id = item.CommunityID })
            </td>
           
            <td>
                <!-- Commented out this section, but left it in for reference. Shouldn't have these options as a user.
                    Could add an if statement to check if administrator though...
                @Html.ActionLink("Select", "Index", new { id = item.CommunityID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CommunityID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommunityID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommunityID })

                -->
            </td>
        </tr>
    }

</table>

@if (Model.Comments != null)
{
    <h3>Comments</h3>
    
    @Html.ActionLink("Add new", "Create", "Comment")

    <!--a horizontal line-->
    <hr>
    
    <table class="table">
        <tr>
            
        </tr>
        <!--display the comments one by one-->
        @foreach (var item in Model.Comments)
        {
            string selectedRow = "";
            if (item.CommentID == ViewBag.CommentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <!--@Html.ActionLink("Select", "Index", new { courseID = item.CommentID }) Commented out. But left in for reference-->
                </td>
                
                <td>
                    <!--display the text in the comment.-->
                    @item.TextInput

                    <!--a horizontal line to divide the comments-->
                    <hr>
                </td>

                
                
            </tr>

            
        }

    </table>
}