@model HobbyTracker.ViewModels.CommunityIndexData

@{
    ViewBag.Title = "Communities";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Communities</title>
</head>
<h2>Communities</h2>

<p>
    @Html.ActionLink("Create New Community", "Create")
</p>
<table class="table table-condensed table-hover">
    <tr>
        <th>Communities</th>
        <th>Main Page</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Communities)
    {
        string selectedRow = "";
        if (item.CommunityID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                
                <!--@Html.DisplayFor(modelItem => item.CommunityName) Commented out -->

                <!--make the community name that is displayed a link so that when clicked, the comments show up instead
                    of clicking a "select" link. Looks better this way.-->
                @Html.ActionLink(item.CommunityName, "Index", new { id = item.CommunityID }):
            </td>
           
            <td>
                @Html.ActionLink("View Page", "Details", new { id = item.CommunityID })
            </td>

            <td>
                <!--Check to see if logged on user is an administrator. If so, display more editing options-->
                @if(User.Identity.Name == "administrator@hobbytracker.com")
                {
                    @Html.ActionLink("Edit", "Edit ", new { id = item.CommunityID })
                    @Html.ActionLink("Details", "Details ", new { id = item.CommunityID })
                    @Html.ActionLink("Delete", "Delete ", new { id = item.CommunityID })
                }
            </td>
        </tr>
    }
</table>



@if (Model.Comments != null)
{


   

    <h3>Description</h3>

    @Html.Display("DescriptionField") //this is pulled from the controller index method where it is taken from the database with an sql querry


    if ("CommunityName" != null)
    {
        <h3>Comments For @Html.Display("CommunityName")</h3>   //The name of the community that has been selected
    }
    @Html.ActionLink("Add new comment", "Create", "Comment")

    <!--a horizontal line-->
    <hr>
    
    <table class="table">
        <tr>
            
        </tr>
        <!--display the comments one by one-->
        @foreach (var item in Model.Comments)
        {
            string selectedRow = "";
            if (item.CommentID == ViewBag.CommentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                   
                </td>
                
                <td>
                    <!--display the text in the comment.-->
                    @item.TextInput

                    <!--a horizontal line to divide the comments-->
                    <hr>
                </td>
            </tr>
        }
    </table>
}