@model HobbyTracker.ViewModels.CommunityIndexData

@{
    ViewBag.Title = "Communities";
}

<h2>Communities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Communities</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Communities)
    {
        string selectedRow = "";
        if (item.CommunityID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                
                <!--@Html.DisplayFor(modelItem => item.CommunityName) -->
                @Html.ActionLink(item.CommunityName, "Index", new { id = item.CommunityID })
            </td>
           
            <td>
                <!--
                @Html.ActionLink("Select", "Index", new { id = item.CommunityID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CommunityID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommunityID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommunityID })

                -->
            </td>
        </tr>
    }

</table>

@if (Model.Comments != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Comments)
        {
            string selectedRow = "";
            if (item.CommentID == ViewBag.CommentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CommentID })
                </td>
                <td>
                    @item.CommentID
                </td>
                <td>
                    @item.TextInput
                </td>
                
            </tr>
        }

    </table>
}