@model IEnumerable<HobbyTracker.Models.Item>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Item</title>
</head>
<div class="panel-heading text-center"><h2>Item List</h2></div>
<p>A list of all the items in your collection.</p>

<p>
    @Html.ActionLink("Create A New Item", "Create")
</p>
<p>
    @Html.ActionLink("Back to My Collection", "Index", "Collection")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by genre: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>*@
    </tr>
}

</table>


