@model HobbyTracker.Models.CommunityComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommunityComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment.TextInput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment.TextInput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Community.CommunityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community.CommunityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommunityCommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
