@model IEnumerable<HobbyTracker.Models.CollectionItem>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Index</title>

</head>

<h2>Add Items to Collections</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Back To My Collection", "Index", "Collection")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collection.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collection.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
           @if (Request.IsAuthenticated)
           {
            @Html.ActionLink("Edit", "Edit", "CollectionItem", new { id = item.CollectionItemID })
           }
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Details", "Details", new { id = item.CollectionItemID })
            }
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.CollectionItemID })
            }
           
        </td>
    </tr>
}

</table>
