@model HobbyTracker.ViewModels.UserIndexData

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("My User Page", "UserPage")
</p>

<table class="table">
    <tr>
        <th>User Name</th>
        <th></th>
    </tr>

@foreach (var item in Model.Users) {
    string selectedRow = "";
    if (item.UserID == ViewBag.UserId)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.UserID}) |
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}
</table>

@if (Model.Collections != null)
{
    <h3>Collections Belonging to Selected User</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Collection Name</th>
        </tr>

    @foreach (var item in Model.Collections)
    {
        string selectedRow = "";
        if (item.CollectionID == ViewBag.CollectionID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.ActionLink("Select", "Index", new { CollectionID = item.CollectionID })
            </td>
            <td>
                @item.CollectionName
            </td>
        </tr>
    }
    </table>
}

@if (Model.CollectionItems != null)
{
    <h3>Items In This Collection</h3>   
    <table class="table">
        <tr>
            <th>Item ID</th>
        </tr>
        @foreach (var item in Model.CollectionItems)
        {
            <tr>
                <td>
                    @item.CollectionID
                </td>
                <td></td>
            </tr>
        }
    </table>
}