@model IEnumerable<Hobo.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Hobo Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            Thing 1
        </th>
        <th>
            Thing 2
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
 
    </tr>
}

</table>
