@model HobbyTracker.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.ActName)</h2>

<div>
    <h4>Activity Information</h4>
    <hr />
    <dl class="dl-horizontal">
 
        Contact Information


        <dd>
            Email: @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            Phone: @Html.DisplayFor(model => model.Phone)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
