@model IEnumerable<HobbyTracker.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Index</title>
</head>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillAttend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillAttend)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityID })
        </td>
    </tr>
}

</table>
