@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hobby Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrap">
       

        
       <ul id="nav">
           <!-- <li>@Html.Partial("_LoginPartial")</li>   Took this out -->
           
           @if (Request.IsAuthenticated)
           {
               using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                   @Html.AntiForgeryToken()
                     <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
                       <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
           }
           
           @if (Request.IsAuthenticated == false)
           {
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
           }
           
           <!--static menu items-->
           <li><hr /></li>
           <li>@Html.ActionLink("Home", "Index", "Home")</li>
           <li>@Html.ActionLink("About", "About", "Home")</li>
           <li>@Html.ActionLink("My Collections", "Index", "Collection")</li>
           <li>@Html.ActionLink("Other Collections", "Index2", "Collection")</li> 
           <li>@Html.ActionLink("Community", "Index", "Community")</li>

           <!--Check to see if logged on user is an administrator. If so, add the menu item to edit all comments-->
            @if(User.Identity.Name == "administrator@hobbytracker.com")
            {
                <li>@Html.ActionLink("All Comments", "Index", "Comment")</li>
            }
           
       </ul>
       
       
    


        <main>
            @RenderBody()

        </main>


        <footer>
            <p>&copy; @DateTime.Now.Year - Hobby Tracker by WOU Crew</p>
        </footer>
    </div> <!--end div id wrap-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
