@model HobbyTracker.ViewModels.CollectionIndexData

@{
    ViewBag.Title = "Collections";
}

<h2>My Collections</h2>

<p>
    Hi, @User.Identity.Name!
</p>

<p>
    @Html.ActionLink("Create A New Collection", "Create")
</p>
<p>
     @Html.ActionLink("Create A New Item", "Create", "Item")
</p>
<p>
    @Html.ActionLink("Add An Item To My Collection", "Create", "CollectionItem")
</p>

<table class="table">
    <tr>
        <th>
            Collection Name
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Collections) 
{
    string selectedRow = "";
    if (item.CollectionID == ViewBag.CollectionID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CollectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CollectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CollectionID })
        </td>
    </tr>
}

</table>
