@model IEnumerable<HobbyTracker.Models.Collection>

@{
    ViewBag.Title = "Collections";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Collections</title>
</head>

<body>
    <div class=" panel panel-warning">
        <div class="panel-heading text-center"><h2>My Collection Page</h2></div>
        <div class="panel-bady">

            <p>Create a new collection to hold your items. You can also create new items to add to your
            collections from this page.</p>

            <p class="text-danger">
                @Html.ActionLink("Create A New Collection", "Create") <br />
                @Html.ActionLink("Browse Items", "Index", "Item") <br />
                @Html.ActionLink("Create A New Item", "Create", "Item") <br />
            </p>

            <div class="panel-heading text-center"><h2>My Collections</h2></div>
            @using (Html.BeginForm()) { 
            <p>
                Search by name: @Html.TextBox("Search")
                <input type="submit" value="Search" />
            </p>
            }

            <table class="table table-hover">
                <tr>
               
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParm})
                    </th>
                    <th>
                        @Html.ActionLink("Private?", "Index", new { sortOrder = ViewBag.PrivateSortParm })
                    </th>
                    <th></th>
                </tr>
        

                @foreach (var item in Model)
                {
                   <tr>
                        <td>
                          @Html.DisplayFor(modelItem => item.CollectionName)
                        </td>
                        <td>
                          @Html.DisplayFor(modelItem => item.Genre.GenreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Private)
                        </td>
                        <td>
                            @Html.ActionLink("Add Item", "Create", "CollectionItem", new { id = item.CollectionID }, new { }) |
                            @Html.ActionLink("View Items", "Details", "CollectionItem", new { id = item.CollectionID }, new { })|
                            @Html.ActionLink("Edit", "Edit", new { id = item.CollectionID }, new { }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CollectionID })
                            
                        </td>
                    </tr>
                }
            </table>


        </div>
    </div>
</body>
