@model HobbyTracker.ViewModels.CollectionIndexData

@{
    ViewBag.Title = "Collections";
}

<h2>All Collections Page</h2>

<p>
    @Html.ActionLink("Create A New Collection", "Create") <br />
    @Html.ActionLink("Create A New Item", "Create", "Item") <br />
    @Html.ActionLink("Add An Item To My Collection", "Create", "CollectionItem") <br />
</p>

<h2>All Collections</h2>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Collections)
    {
        string selectedRow = "";
        if (item.CollectionID == ViewBag.CollectionID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.ActionLink("Select", "Index2", new { collectionID = item.CollectionID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>

        </tr>
    }
</table>

@if (Model.CollectionItems != null)
{
    <h2>Items in the Selected Collection</h2>
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CollectionItems)
        {
            <tr align="center">
                <td>
                    @item.Item.ItemName
                </td>
                <td>
                    @item.Item.ItemDesc
                </td>


            </tr>
        }
    </table>
}

