@model HobbyTracker.Models.Comment

@{
    ViewBag.Title = "Details";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Details</title>
</head>


<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Community.CommunityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community.CommunityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextInput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextInput)
        </dd>
        <dt>
            User Name
            @Html.DisplayNameFor(model => model.CommentUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
